body {
background: url('./pictures/theater-background1.png') no-repeat center center fixed;
  background-size: cover;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 100px auto auto;
}

@import url('http://fonts.cdnfonts.com/css/im-fell-english-sc');
p {
    margin: 0;
    padding: 0;
    color: whitesmoke;
    font-size: 30px;
    font-family: 'IM FELL English SC', sans-serif;
}
.text-container {
    grid-column: 2;
    grid-row: 2;
}