.destinationContainer {
    background: green;
    display: table;
}
.destinationContainer p {
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
}