.rollContainer {
    display: grid;
    grid-template-rows: 20% 80%;
    align-items: center;
}
.rollerPtag {
    font-size: 12px;
    grid-row: 1;
    margin: 0;
}
.roller {
    width:85%;
    height: auto;
}