.skrivContainer {
    display: grid;
    grid-template-rows: 20% 80%;
    margin-left: 20px;
    margin-right: 23px;
    grid-column: 1 / 3;
}
.textPtag {
    font-size: 12px;
    grid-row: 1;
    margin: 0;
    padding: 0;
}
.ruta {
    margin-top: 3px;
    height: auto;
    border-radius: 5px;
    border: solid rgb(42, 42, 42) 1px;
}