.transportContainer {
    margin: 0;
    padding: 0;
    background: red;
    grid-column: 1 /3;
    grid-row: 1;
    border-radius: 10px 10px 0 0;
}
.transport_pTag {
    margin: 0;
    padding: 0;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}