div, p {
    margin: 0;
    padding: 0;
}
.container {
    height: 350px;
    width: 250px;
    background: red;
}
.titleBox {
    height: 70px;
    width: 100%;
    background: blue;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
}
.titleText {
    grid-row: 1;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: aliceblue;
    font-size: 25px;
    font-weight: bold;
}
.titleAuthor {
    grid-row: 2;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.addToCart {
    height: 70px;
    width: 100px;
    border-radius: 20px;
    background-color: green;
    display: table-cell;
    vertical-align: middle;
    font-size: 25px;
}