.container {
    height: 350px;
    width: 250px;
    background: red;
}
.titleBox {
    height: 70px;
    width: 100%;
    background: blue;
}
.titleBox p {
    height: 100%;
    width: 100%;
    display: table-cell;
    text-align: center;
}