.App {
  text-align: center;
}
html, body {
  margin: 0;
  padding: 0;
  background: url('../theater-background.png') no-repeat center center fixed;
  background-size: cover;
}

/*Tips på typsnitt: MedievalSharp IM Fell English SC*/