.App {
  text-align: center;
}
html, body {
  margin: 0;
  padding: 0;
  background: url('../theater-background.png');
  background-size: 50%;
  background- rep
}

/*Tips på typsnitt: MedievalSharp IM Fell English SC*/